#input-default.clonedInput{:style => "margin:15px 0px; display:none;"}
  = t('name')
  %input.name{:type => "text", :name => "settings[[pages][page{{page-name-id}}][name]]", :autocomplete => "off", value: "", disabled: 'disabled'}
  = t('path')
  %input.value{:type => "text", :name => "settings[[pages][page{{page-value-id}}][path]]", :autocomplete => "off", value: "", disabled: 'disabled'}
  %a.btnDel{href: '#'}
    = t('remove')

#list
  - if !Setting.plugin_redmine_landing_page.blank?
    - Setting.plugin_redmine_landing_page[:pages].each_with_index do |(k,v),i|
      .clonedInput{:id => "input#{i+1}", :style => "margin:15px 0px;"}
        = t('name')
        %input{:id => "page_name#{i+1}", :type => "text", :name => "settings[[pages][page#{i+1}][name]]", :autocomplete => "off", value: v[:name]}
        = t('path')
        %input{:id => "page_path#{i+1}",:type => "text", :name => "settings[[pages][page#{i+1}][path]]", :autocomplete => "off", value: v[:path]}
        %a.btnDel{href: '#'}
          = t('remove')
%div
  %input#btnAdd{:type => "button", :value => t('add_new')}

- content_for :header_tags do
  = javascript_include_tag 'new_form', :plugin => 'redmine_landing_page'
